# Build
build/
!gradle/wrapper/gradle-wrapper.jar

# Gradle
.gradle/

# IDE
.idea/
*.iml
*.ipr
*.iws
out/

# OS
.DS_Store
Thumbs.db

# Generated docs
**/src/main/resources/static/docs/

# Env
.env
*.log
